{% extends 'dash_header_footer.html' %}
{% block page_title %} {% endblock page_title %}
{% block body_content %}
{% load static %}
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12 col-lg-10 mx-auto">
                     
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Account Segments and capabilities</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <p>All our Plans give the best Return on your Capital and you stay in control at all levels, our support team is always ready answer any questions</p>
                           <dl class="row">
                              <dt class="col-sm-3">Personal</dt>
                              <dd class="col-sm-9">Every new Account is a Personal account but It is limited</dd>
                              <dt class="col-sm-3">Business</dt>
                              <dd class="col-sm-9">
                                 <p>Business account can be acquired be contacting the help line.</p>
                                 <p>It requires no added information or Time waiting period and would be activated instantly.</p>
                                 <p>Simply send a mail to <a href="mailto:support@bit-infiinite.com">support@bit-infiinite.com</a> </p>
                              </dd>
                              <dt class="col-sm-3">Retirement</dt>
                              <dd class="col-sm-9">
                                 <p>A Retirement account is the epitome of our Investment plans</p>
                                 <p>It give room for a one on one Investment planning</p>
                                 <p>You gain access to our personal crypto wallet and you get to see which NFT's of your we are pushing on our Discord</p>
                                 <p>we handle all the network fees </p>
                                 <p>It requires no added information or Time waiting period and would be activated instantly.</p>
                                 <p>Simply send a mail to <a href="mailto:support@bit-infiinite.com">support@bit-infiinite.com</a> </p>
                              </dd>
                              
                           </dl>
                        </div>
                     </div>
                  
                     
                  </div>
               </div>
            </div>
         </div>

{% endblock body_content %}